.vs/
WG.Test.Web/obj/
WG.Test.Web/bin/Debug/
WG.Test.Api/obj/
WG.Test.Api/bin/Debug/netcoreapp1.1/
WG.Test.Web/Properties/launchSettings.json
packages/
WG.Test.Data/bin/Debug/
WG.Test.BLL/bin/Debug/
WG.Test.Data/obj/
WG.Test.BLL/obj/
